In [1]:
from pyspark.sql import Row
from pyspark.sql.functions import *
eDF = spark.createDataFrame([Row(a=1, intlist=[1,2,3], mapfield={"a": "b"})])
eDF.show()

In [2]:
eDF.select(eDF.a,explode('intlist')).show()

In [3]:
eDF.select(explode('mapfield'))

In [4]:
df = sqlContext.createDataFrame(
    [('cat \n\n elephant rat \n rat cat', )], ['word']
)

In [5]:
display(df)

word
cat elephant rat rat cat

In [6]:
import re
>>> m = re.search('(?<=abc)def', 'abcdef')
>>> m.group(0)
'def'