In [1]:
from pyspark import SQLContext
from pyspark import HiveContext
from pyspark.sql import Row, functions as F
df = spark.read.csv('dbfs:/FileStore/tables/employeetable.csv',header = True)
df.withColumn('sub_salary', \
              F.when((F.col('salary')%1000 ==3),'Fizz')\
               .when(F.col('salary')%1000 ==5,'buzz')\
               .when(F.col('salary')%1000 == 4 ,'Fizzbuzz')\
               .otherwise(F.col('salary'))).show()

In [2]:
from pyspark import SQLContext
from pyspark import HiveContext
df = spark.read.csv('dbfs:/FileStore/tables/employeetable.csv',header = True)
df.withColumn('salary_trans',\
              F.when(F.col('salary')%1000 ==3,'fizz')\
               .when(F.col('salary')%1000 ==5,'buzz')\
               .when(F.col('salary')%1000 ==6,'fizzbuzz')
               .otherwise(F.col('salary'))
             ).show()

In [3]:
from pyspark import SQLContext
from pyspark import HiveContext
from pyspark.sql import Row, functions as F
df = spark.read.csv('dbfs:/FileStore/tables/employeetable.csv',header = True)

In [4]:
from pyspark import HiveContext
from pyspark import SQLContext
df = spark.read.format('csv').load('dbfs:/FileStore/tables/employeetable.csv',header = True)

In [5]:
df.show()