In [1]:
from pyspark import SQLContext
from pyspark import HiveContext
from pyspark.sql import Row
df = spark.read.format('csv').load ('dbfs:/FileStore/tables/employeetable.csv',header = True)
df.show()

In [2]:
df.count()

In [3]:
df.select('location ').count()

In [4]:
from pyspark.sql.functions import countDistinct 
df.select(countDistinct("location ")).show()

In [5]:
#approx_count_distinct
from pyspark.sql.functions import approx_count_distinct
df.select(approx_count_distinct("location ")).show()

In [6]:
#first,last
from pyspark.sql.functions import first,last
df.select(first('location '),last('location ')).show()

In [7]:
#min,max
from pyspark.sql.functions import min,max
df.select(min("salary"),max("salary")).show()

In [8]:
#Suppose If we select non numeric value selected 
from pyspark.sql.functions import min ,max
df.select(min("empname "),max("empname ")).show()

In [9]:
#sum 

from pyspark.sql.functions import sum
df.select(sum("salary")).show()

In [10]:
#SumDistinct
from pyspark.sql.functions import sumDistinct
df.select(sumDistinct("salary")).show()

In [11]:
#avg,mean,
from pyspark.sql.functions import avg,sum
df.select(avg("salary"),sum("salary")).show()

In [12]:
from pyspark.sql.functions import count
df.groupBy("location ")\
  .agg(count("*")).show()

In [13]:
# import packages
import os
from pyspark import SparkContext, SparkConf
import numpy as np
# import seaborn as sns
# sns.set(rc={'figure.figsize':(15,5)},font_scale=1.2)
# color = ["#e74c3c", "#2ecc71"]
# sns.set_palette(color)
# sns.set_style("whitegrid")
import matplotlib.pyplot as plt

import pandas as pd
pd.set_option('display.max_columns', None) 
pd.set_option('display.max_rows', None)


print(os.environ['SPARK_HOME'])
from pyspark.sql import SparkSession, HiveContext, SQLContext
from pyspark.sql.functions import when, desc
from pyspark.sql.types import *
from pyspark.sql import Row, functions as F
from pyspark.sql.functions import to_date, trunc, unix_timestamp, date_format
from pyspark.sql.window import Window
from datetime import datetime

In [14]:
#Window Function 
from pyspark.sql.window import Window
from pyspark.sql.functions import desc
# = Window.partitionBy('store_nbr', 'rx_nbr', 'rx_fill_nbr').orderBy(F.col('run_dt'))
window = Window\
               .partitionBy('location ')\
               .orderBy('salary')
df.show()

In [15]:
from pyspark.sql.functions import rank
df1 = df.select('location ','salary',rank().over(window).alias('rankcol'))

In [16]:
df1.show()

In [17]:
df1.printSchema()

In [18]:
df1.filter(col("rankcol") == 1).show()

In [19]:
#Grouping set 
df.show()
df.registerTempTable("test")

In [20]:
from pyspark import SQLContext
from pyspark import HiveContext
from pyspark.sql import Row
df = spark.read.format('csv').load ('dbfs:/FileStore/tables/employeetable.csv',header = True)
df.show()

In [21]:
#rollup
from pyspark.sql.functions import count
df.rollup("location ")\
  .agg(count("*")).show()

In [22]:
# cube 
from pyspark.sql.functions import sum
df.cube("location ","empname ")\
  .agg(count("*")).orderBy("location ").show()

In [23]:
#rollup
from pyspark.sql.functions import count
df_pivoted  = df.groupBy("location ")\
  .pivot("salary").sum()

df_pivoted.show()

In [24]:
from pyspark import SQLContext
from pyspark import HiveContext
from pyspark.sql import Row
df = spark.read.format('csv').load ('dbfs:/FileStore/tables/employeetable.csv',header = True)
df.show()

In [25]:
from pyspark.sql import functions as F
df.agg(F.min(df.salary)).collect()
df.agg({'salary':'max'}).collect()

In [26]:
from pyspark.sql import functions as F
df.agg({'salary':'max'}).collect()

In [27]:
from pyspark.sql import functions as F
df.agg({'salary':'max'}).collect()

In [28]:
df.dtypes

In [29]:
df.schema

In [30]:
from pyspark.sql.functions import col
df = sqlContext.createDataFrame(
    [('cat \n\n elephant rat \n rat cat', )], ['word']
)

df.select(explode(split(col("word"), "\s+")).alias("word")).show()

In [31]:
# import pyspark class Row from module sql
from pyspark.sql import *

# Create Example Data - Departments and Employees

# Create the Departments
department1 = Row(id='123456', name='Computer Science')
department2 = Row(id='789012', name='Mechanical Engineering')
department3 = Row(id='345678', name='Theater and Drama')
department4 = Row(id='901234', name='Indoor Recreation')

# Create the Employees
Employee = Row("firstName", "lastName", "email", "salary")
employee1 = Employee('michael', 'armbrust', 'no-reply@berkeley.edu', 100000)
employee2 = Employee('xiangrui', 'meng', 'no-reply@stanford.edu', 120000)
employee3 = Employee('matei', None, 'no-reply@waterloo.edu', 140000)
employee4 = Employee(None, 'wendell', 'no-reply@berkeley.edu', 160000)

# Create the DepartmentWithEmployees instances from Departments and Employees
departmentWithEmployees1 = Row(department=department1, employees=[employee1, employee2])
departmentWithEmployees2 = Row(department=department2, employees=[employee3, employee4])
departmentWithEmployees3 = Row(department=department3, employees=[employee1, employee4])
departmentWithEmployees4 = Row(department=department4, employees=[employee2, employee3])

In [32]:
departmentsWithEmployeesSeq1 = [departmentWithEmployees1, departmentWithEmployees2]
df1 = spark.createDataFrame(departmentsWithEmployeesSeq1)

display(df1)

departmentsWithEmployeesSeq2 = [departmentWithEmployees3, departmentWithEmployees4]
df2 = spark.createDataFrame(departmentsWithEmployeesSeq2)

display(df2)

department,employees
"List(345678, Theater and Drama)","List(List(michael, armbrust, no-reply@berkeley.edu, 100000), List(null, wendell, no-reply@berkeley.edu, 160000))"
"List(901234, Indoor Recreation)","List(List(xiangrui, meng, no-reply@stanford.edu, 120000), List(matei, null, no-reply@waterloo.edu, 140000))"

In [33]:
unionDF = df1.unionAll(df2)
display(unionDF)

department,employees
"List(123456, Computer Science)","List(List(michael, armbrust, no-reply@berkeley.edu, 100000), List(xiangrui, meng, no-reply@stanford.edu, 120000))"
"List(789012, Mechanical Engineering)","List(List(matei, null, no-reply@waterloo.edu, 140000), List(null, wendell, no-reply@berkeley.edu, 160000))"
"List(345678, Theater and Drama)","List(List(michael, armbrust, no-reply@berkeley.edu, 100000), List(null, wendell, no-reply@berkeley.edu, 160000))"
"List(901234, Indoor Recreation)","List(List(xiangrui, meng, no-reply@stanford.edu, 120000), List(matei, null, no-reply@waterloo.edu, 140000))"

In [34]:
df = unionDF.select(explode("employees").alias("e"))

In [35]:
df.show()

In [36]:
explodeDF =df.selectExpr("e.firstname","e.lastname","e.email","e.salary")

In [37]:
explodeDF.show()

In [38]:
explodeDF.printSchema()

In [39]:
filterDF = explodeDF.filter(explodeDF.firstname == "xiangrui").sort(explodeDF.lastname)
display(filterDF)

firstname,lastname,email,salary
xiangrui,meng,no-reply@stanford.edu,120000
xiangrui,meng,no-reply@stanford.edu,120000

In [40]:
df = spark.createDataFrame([(1, "A", [1,2,3]), (2, "B", [3,5])],["col1", "col2", "col3"])
from pyspark.sql.functions import explode
df.show()

In [41]:
df.withColumn("col3", explode(df.col3)).show()