In [1]:
df= spark.read.format('csv') \
         .option('header','true')\
         .option('inferschema','true')\
         .load('dbfs:/FileStore/tables/employeetable.csv')
df.printSchema()
df.createOrReplaceTempView('dftable')

In [2]:
from pyspark.sql.functions import col
df.show()
df.where(col('salary') != 3005)\
  .select('salary','location ')\
  .show(5,False)

In [3]:
from pyspark.sql import Row
from pyspark.sql.functions import instr
data =[
      Row('amma amma appa','anna','akka'),
      Row('appa appa appa','akka','anna'),
      Row('appa','amma','anna')
]   
rdd = sc.parallelize(data)
df = spark.createDataFrame(rdd,['desc','rela','main'])
df5 =df.select(col('desc'))
df5.where(instr(df5.desc,'amma') ==1 ).show()

In [4]:
df = spark.createDataFrame([('abcd',)], ['s',])
df.select(instr(df.s,'c')).show()

In [5]:
df= spark.read.format('csv') \
         .option('header','true')\
         .option('inferschema','true')\
         .load('dbfs:/FileStore/tables/employeetable.csv')
df.printSchema()
df.createOrReplaceTempView('dftable')

In [6]:
df.show()

In [7]:
from pyspark.sql.functions import expr,pow
pow1 = pow(col('empid ')*col('salary'),2)+5
df.select(pow1).show()

In [8]:
df.describe().show()

In [9]:
from pyspark.sql.functions import monotonically_increasing_id 
df.select(monotonically_increasing_id()).show(2)

In [10]:
df.show()

In [11]:
from pyspark.sql.functions import initcap,lower,upper
df.select(initcap(col('empname ')),lower(col('empname ')),upper(col('empname '))).show()

In [12]:
  df.show()

In [13]:
from pyspark.sql.functions import regexp_extract
extract_str = "(nalini|nivedhithaa)"
df.select(regexp_extract(col('empname '),extract_str,1)).show()

In [14]:
from pyspark.sql import Row
from pyspark.sql.functions import instr
from pyspark.sql.functions import regexp_extract
data =[
      Row('amma amma appa','anna','akka'),
      Row('appa amma appa','akka','anna'),
      Row('appa appa amma','amma','anna')
]   
rdd = sc.parallelize(data)
df = spark.createDataFrame(rdd,['desc','rela','main'])
extract_str = "(amma)"
df.select(regexp_extract('desc',extract_str,1),'main').show()

In [15]:
#Reqular expressions
import re
str = "the rain in Spain"
x = re.findall("ai",str)
print(x)

In [16]:
import re
str = "amma appa anna akka amma where are you currenlty am working with cognizant "
s = re.findall("amma",str)
print(s)

In [17]:
# Search 
import re 
str = "The rain is Spain"
x = re.search("is",str)
print(x.start())

In [18]:
str = "The rain in Spain"
x = re.split("\s", str)
print(x)

In [19]:
#current_date,current_timestamp
from pyspark.sql.functions import current_date, current_timestamp 
dataDF = spark.range(10)\
              .withColumn("today",current_date())\
              .withColumn("now",current_timestamp())
dataDF.show()

In [20]:
#date_add,date_sup
from pyspark.sql.functions import date_add,date_sub,datediff
dataDF.select(datediff(date_add("today",5),"today")).show()

In [21]:
dataDF.show()

In [22]:
#woking with complex Types 
dataDF.show()
complexDF = dataDF.

In [23]:
from pyspark.sql.functions import struct
complexDF = dataDF.select(struct("id","today").alias("complext"))
complexDF.show()

In [24]:
complexDF.select("complext.id").show()

In [25]:
complexDF.select("complex".getField("id"))

In [26]:
#Working on One UseCase 

#Step-01 Declaring the Lib
from pyspark import SQLContext
from pyspark import HiveContext
from pyspark.sql import Row
from pyspark.sql.functions import split
data = [ Row('Karthikeyan Navaneethan Nalini','coimbatore',1000)
         ,Row('Prakash Ajayanth Aswanth','Chennai',2000)
	     ,Row('Sendhan Seyon','Rasipalayam',3000)
            ]
rdd = sc.parallelize(data)

#Step-02 Creating the dataFrame 

df_usecase = spark.createDataFrame(rdd,['name','location','salary'])

#Step-03 Split the column value 

df_usecase_split = df_usecase.select(split("name"," ").alias("complexdata"))

df_usecase_split.show()

#Step-04: 

df_usecase_split.printSchema()

In [27]:
from pyspark.sql.functions import size,explode
df1 = df_usecase.select(split("name"," ").alias("complexdata"))
df2 = df1.withColumn("exploded",explode("complexdata")).show()