In [1]:
l = [('Alice',1)]
df = spark.createDataFrame(l)
df.collect()

In [2]:
df1 = spark.createDataFrame(l,['name','age'])
df1.collect()

In [3]:
D = [{'name':'Karthikeyan','age':'37'}]
df2 = spark.createDataFrame(D)
df2.collect()

In [4]:
rdd = sc.parallelize(l)
df3 = spark.createDataFrame(rdd)
df3.collect()

In [5]:
rdd = sc.parallelize(l)
df4 = spark.createDataFrame(rdd,['name','age'])
df4.collect()

In [6]:
>>> from pyspark.sql import Row
>>> Person = Row('name', 'age')
>>> person = rdd.map(lambda r: Person(*r))
>>> df2 = spark.createDataFrame(person)
>>> df2.collect()
[Row(name='Alice', age=1)]

In [7]:
spark.range(1,7,2).collect()

In [8]:
spark.range(3).collect()

In [9]:
df.show()

In [10]:
df.createOrReplaceTempView("table")
df5 = spark.sql("select * from table")
df5.collect()

In [11]:
df.createOrReplaceTempView("temp1")
df6 = spark.table("temp1")
df6.collect()

In [12]:
strlen = spark.udf.register("strl",lambda x:len(x))
spark.sql("select strl('test')").collect()

In [13]:
strlen = spark.udf.register("strl",lambda x:len(x))
spark.sql("select strlen('test')").collect()

In [14]:
spark.sql("select 'karthikeyan' as text ").select(strlen('text')).collect()

In [15]:
spark.sql("select 'karthikeyan' as text ").select(strl('text')).collect()

In [16]:
strlen = spark.udf.register('strl',lambda x: len(x))
spark.sql("select strl('karthikeyan')").collect()

In [17]:
spark.sql("select 'karthikeyan' AS text").select(strlen('text')).collect()

In [18]:
from pyspark.sql.types import IntegerType
_ = spark.udf.register("strlen",lambda x : len(x),IntegerType())
spark.sql("select strlen('karthikeyan')").collect()

In [19]:
from pyspark.sql.types import IntegerType
from pyspark.sql.functions import udf
slen = udf(lambda s:len(s),IntegerType())
sef= spark.udf.register('slen1',slen)
spark.sql("select slen1('test')").collect()
spark.sql("select 'karthikeyan' as text").select(sef('text')).collect()

In [20]:
>>> import random
>>> from pyspark.sql.functions import udf
>>> from pyspark.sql.types import IntegerType
>>> random_udf = udf(lambda: random.randint(0, 100), IntegerType()).asNondeterministic()
>>> new_random_udf = spark.udf.register("random_udf", random_udf)
>>> spark.sql("SELECT random_udf()").collect()  # doctest: +SKIP

In [21]:
df.show()

In [22]:
df.agg({"_1":"max"}).collect()

In [23]:
df.agg({"_1":"min"}).collect()

In [24]:
from pyspark.sql import functions as F
df.agg(F.min("_1")).collect()

In [25]:
df.agg(F.max("_2")).collect()

In [26]:
df.rdd.getNumPartitions()

In [27]:
df.coalesce(4).rdd.getNumPartitions()

In [28]:
from pyspark import HiveContext
from pyspark import SQLContext 
df = spark.createDataFrame([('a','b','c',1),('a','b','c',1),('a','b','c',1)],["col1","col2","col3","col4"])

df.select(df.colRegex("(Col1)?")).show()

In [29]:
df.collect()

In [30]:
df.columns

In [31]:
df.count()

In [32]:
df.createGlobalTempView("zzzz")
df2 = spark.sql("select * from global_temp.zzzz")
df2.show()

In [33]:
df.createGlobalTempView("zzzz")
df2 = spark.sql("select * from global_temp.zzzz")
df2.show()

In [34]:
df.createOrReplaceGlobalTempView("zzzz")
df2 = spark.sql("select * from global_temp.zzzz")
df2.show()

In [35]:
df.select("age", "name").collect()

In [36]:
>>> l = [('Alice', 1)]
>>> spark.createDataFrame(l).collect()
[Row(_1='Alice', _2=1)]
>>> df = spark.createDataFrame(l, ['name', 'age']).collect()
[Row(name='Alice', age=1)]

In [37]:
df = spark.createDataFrame(l)

In [38]:
l = [(10,'karthikeyan'),(20,'navaneethan')]
m = [('karthikeyan',45),('nalini',89)]
df1 = spark.createDataFrame(l,['age','name'])
df2 = spark.createDataFrame(m,['name','height'])
df1.crossJoin(df2).collect()

In [39]:
df1.crossJoin(df2.select('height')).select('age','name').collect()

In [40]:
df1.show()

In [41]:
df1.crosstab('age','name').show()

In [42]:
df1.show()

In [43]:
from pyspark import HiveContext
from pyspark import SQLContext 
df = spark.createDataFrame([('a','b','c',1),('a','b','c',1),('a','b','c',1)],["col1","col2","col3","col4"])
df.show()
df.crosstab("col1","col2").show()

In [44]:
df.cube("col1","col2").count().orderBy("col1", "col2").show()

In [45]:
df.describe('col1').show()

In [46]:
from pyspark.sql import Row
df = sc.parallelize([ \
Row(name='Alice', age=5, height=80), \
Row(name='Alice', age=5, height=80), \
Row(name='Alice', age=10, height=80)]).toDF()
df.dropDuplicates().show()

In [47]:
df = spark.createDataFrame([(1, 'Peter', 1.79, 28,'M', 'Tiler'),
                            (2, 'Fritz', 1.78, 45,'M', None),
                            (3, 'Florence', 1.75, None, None, None),
                            (4, 'Nicola',1.6, 33,'F', 'Dancer'),
                            (5, 'Gregory', 1.8, 54,'M', 'Teacher'),
                            (6, 'Steven', 1.82, None, 'M', None),
                            (7, 'Dagmar', 1.7, 42,'F', 'Nurse'),]
                           , ['id', 'Name', 'Height', 'Age', 'Gender', 'Occupation'])

df.show()

In [48]:
df2 = df.dropna(thresh=3,subset=('Age','Gender','Occupation'))

df2.show()

In [49]:
df.dtypes

In [50]:
df1 = spark.createDataFrame(
[("a", 1), ("a", 1), ("a", 1), ("a", 2), ("b",  3), ("c", 4)], ["C1", "C2"])
df2 = spark.createDataFrame([("a", 1), ("b", 3)], ["C1", "C2"])

In [51]:
df1.show()

In [52]:
df2.show()

In [53]:
df1.exceptAll(df2).show()

In [54]:
df1.explain()

In [55]:
df = spark.createDataFrame([(1, 'Peter', 1.79, 28,'M', 'Tiler'),
                            (2, 'Fritz', 1.78, 45,'M', None),
                            (3, 'Florence', 1.75, None, None, None),
                            (4, 'Nicola',1.6, 33,'F', 'Dancer'),
                            (5, 'Gregory', 1.8, 54,'M', 'Teacher'),
                            (6, 'Steven', 1.82, None, 'M', None),
                            (7, 'Dagmar', 1.7, 42,'F', 'Nurse'),]
                           , ['id', 'Name', 'Height', 'Age', 'Gender', 'Occupation'])

df.show()

In [56]:
df.na.fill('10').show()

In [57]:
df.na.fill(False).show()

In [58]:
df.na.fill({'Age':45,'Occupation':'Manager'}).show()

In [59]:
from pyspark.sql import functions as F
df.filter("name == 'Peter'").show()

In [60]:
df.first()

In [61]:
def f(x):
    print(x.name)
df.foreach(f)

In [62]:
df.groupBy().avg().collect()

In [63]:
sorted(df.groupBy('name').agg({'age': 'mean'}).collect())

In [64]:
df.head()

In [65]:
df.head()

In [66]:
df.sort(df.Height.desc()).collect()

In [67]:
df.sort("age", ascending=False).collect()

In [68]:
df.repartitionByRange(2, "age").rdd.getNumPartitions()

In [69]:
df.show()

In [70]:
df.na.replace(45,99).show()

In [71]:
df.na.replace('Peter','Karthikeyan').show()

In [72]:
df.rollup('Age').count().show()

In [73]:
df = spark.createDataFrame([(1, 'Peter', 1.79, 28,'M', 'Tiler'),
                            (2, 'Fritz', 1.78, 45,'M', None),
                            (3, 'Florence', 1.75, None, None, None),
                            (4, 'Nicola',1.6, 33,'F', 'Dancer'),
                            (5, 'Gregory', 1.8, 54,'M', 'Teacher'),
                            (6, 'Steven', 1.82, None, 'M', None),
                            (7, 'Dagmar', 1.7, 42,'F', 'Nurse'),]
                           , ['id', 'Name', 'Height', 'Age', 'Gender', 'Occupation'])

In [74]:
df.printSchema()

In [75]:
df.registerTempTable("people")

In [76]:
df2=spark.sql("select * from people")
df2.show()

In [77]:
spark.catalog.dropTempView("people")

In [78]:
spark.sql("select * from people")

In [79]:
df.repartition(10).rdd.getNumPartitions()

In [80]:
data = df.union(df)
data.show()

In [81]:
data = data.repartition(7,'Age')
data.show()

In [82]:
df.na.replace('Fritz','Karthikeyan').show()

In [83]:
df.rollup('Gender').count().show()

In [84]:
df.shema()

In [85]:
df.schema

In [86]:
df.selectExpr("Age * 2").show()

In [87]:
df.sort("Age",ascending = False).collect()

In [88]:
df.orderBy(df.Age.desc()).collect()

In [89]:
df.subtract(df).collect()

In [90]:
df.toDF

In [91]:
 df.toJSON().first()

In [92]:
df.toPandas()

In [93]:
df1 = spark.createDataFrame([[1, 2, 3]], ["col0", "col1", "col2"])
df2 = spark.createDataFrame([[4, 5, 6]], ["col1", "col2", "col0"])
df1.unionByName(df2).show()

In [94]:
df = spark.createDataFrame([(1, 'Peter', 1.79, 28,'M', 'Tiler'),
                            (2, 'Fritz', 1.78, 45,'M', None),
                            (2, 'Florence', 1.75, None, None, None),
                            (3, 'Nicola',1.6, 33,'F', 'Dancer'),
                            (3, 'Gregory', 1.8, 54,'M', 'Teacher'),
                            (4, 'Steven', 1.82, None, 'M', None),
                            (4, 'Dagmar', 1.7, 42,'F', 'Nurse'),]
                           , ['id', 'Name', 'Height', 'Age', 'Gender', 'Occupation'])

In [95]:
gdf = df.groupBy(df.id)
gdf.agg({"*":"count"}).collect()

In [96]:
from pyspark.sql import functions as F
gdf.agg(F.min(df.Age)).collect()

In [97]:
df.groupBy().avg('Age').collect()
df.groupBy().avg('Age','Height').collect()

In [98]:
df.count()

In [99]:
df.groupBy().max('Age').collect()

In [100]:
df.groupBy().max('Age').collect()

In [101]:
df.groupBy().mean('Age').collect()

In [102]:
df.show()

In [103]:
 df.groupBy("Gender").pivot("Age").max("Height").show()

In [104]:
from pyspark.sql import Row
df = spark.createDataFrame([Row(a=170, b=75)])
df.select(df.a.bitwiseAND(df.b)).collect()

In [105]:
df = spark.createDataFrame([(1, 'Peter', 1.79, 28,'M', 'Tiler'),
                            (2, 'Fritz', 1.78, 45,'M', None),
                            (2, 'Florence', 1.75, None, None, None),
                            (3, 'Nicola',1.6, 33,'F', 'Dancer'),
                            (3, 'Gregory', 1.8, 54,'M', 'Teacher'),
                            (4, 'Steven', 1.82, None, 'M', None),
                            (4, 'Dagmar', 1.7, 42,'F', 'Nurse'),]
                           , ['id', 'Name', 'Height', 'Age', 'Gender', 'Occupation'])

In [106]:
df.select(df.Age.cast("string").alias('strin111')).collect()

In [107]:
df.filter(df.Name.contains('ter')).collect()

In [108]:
df.filter(df.Name.endswith('ter')).collect()

In [109]:
>>> from pyspark.sql import Row
>>> df1 = spark.createDataFrame([
...     Row(id=1, value='foo'),
...     Row(id=2, value=None)
... ])

In [110]:
df1.show()

In [111]:
df1.select(df1['id'],df1['value']).show()

In [112]:
from pyspark.sql import Row
df1 = spark.createDataFrame([
 Row(id=1, value='foo'),
 Row(id=2, value=None)])
df1.select(
           df1['value'] == 'foo',
           df1['value'].eqNullSafe('foo'),
           df1['value'].eqNullSafe(None)
           ).show()
df2 = spark.createDataFrame([Row(value = 'bar'), Row(value = None)])
df1.join(df2,df1['value']== df2['value']).count()

In [113]:
from pyspark.sql import Row
df = spark.createDataFrame([Row(r=Row(a=1, b="b"))])
df.show()

In [114]:
df.select(df.r.getField('b')).show()

In [115]:
 df = spark.createDataFrame([([1, 2], {"key": "value"})], ["l", "d"])

In [116]:
df.select(df.l.getItem(0), df.d.getItem("key")).show()

In [117]:
df.select(df.l[0], df.d["key"]).show()

In [118]:
df = spark.createDataFrame([(1, 'Peter', 1.79, 28,'M', 'Tiler'),
                            (2, 'Fritz', 1.78, 45,'M', None),
                            (2, 'Florence', 1.75, None, None, None),
                            (3, 'Nicola',1.6, 33,'F', 'Dancer'),
                            (3, 'Gregory', 1.8, 54,'M', 'Teacher'),
                            (4, 'Steven', 1.82, None, 'M', None),
                            (4, 'Dagmar', 1.7, 42,'F', 'Nurse'),]
                           , ['id', 'Name', 'Height', 'Age', 'Gender', 'Occupation'])

In [119]:
df.show()

In [120]:
df.filter(df.Age.isNotNull()).collect()

In [121]:
df.filter(df.Age.isNull()).collect()

In [122]:
df.filter(df.Age.isin(28,45)).collect()

In [123]:
df.show()

In [124]:
df.limit(2)

In [125]:
df.first()

In [126]:
from pyspark import HiveContext

In [127]:
df = spark.createDataFrame([(1, 'Peter', 1.79, 28,'M', 'Tiler'),
                            (2, 'Fritz', 1.78, 45,'M', None),
                            (2, 'Florence', 1.75, None, None, None),
                            (3, 'Nicola',1.6, 33,'F', 'Dancer'),
                            (3, 'Gregory', 1.8, 54,'M', 'Teacher'),
                            (4, 'Steven', 1.82, None, 'M', None),
                            (4, 'Dagmar', 1.7, 42,'F', 'Nurse'),]
                           , ['id', 'Name', 'Height', 'Age', 'Gender', 'Occupation'])

In [128]:
from pyspark.sql.functions import regexp_replace
from pyspark.sql.functions import col
regexp_string = "Peter|Fritz"
df.select(regexp_replace(col('name'),regexp_string,'Karthikeyan')).show()

In [129]:
from pyspark.sql.functions import to_date, lit
spark.range(5).withColumn('date',lit("2017-01-01"))\
     .select(to_date(col('date'))).show()

In [130]:
df = spark.createDataFrame([(1, 'Peter', 1.79, 28,'M', 'Tiler'),
                            (2, 'Fritz', 1.78, 45,'M', None),
                            (2, 'Florence', 1.75, None, None, None),
                            (3, 'Nicola',1.6, 33,'F', 'Dancer'),
                            (3, 'Gregory', 1.8, 54,'M', 'Teacher'),
                            (4, 'Steven', 1.82, None, 'M', None),
                            (4, 'Dagmar', 1.7, 42,'F', 'Nurse'),]
                           , ['id', 'Name', 'Height', 'Age', 'Gender', 'Occupation'])


from pyspark.sql.functions import struct
from pyspark.sql.functions import col
complexDF = df.select(struct('Name','Height')).alias('complex')
complexDF.show()
complexDF = df.select(struct("Name", "Height").alias("complex"))
complexDF.select("complex.Name").show()

In [131]:
df = spark.createDataFrame([(1, 'Karthikeyan Rasipalayam Durairaj Sakunthalla Navaneethan Nalini', 1.79, 28,'M', 'Tiler')
                            ]
                           , ['id', 'Name', 'Height', 'Age', 'Gender', 'Occupation'])

In [132]:
df.show()

In [133]:
from pyspark.sql.functions import size
from pyspark.sql.functions import col
from pyspark.sql.functions import split
df.select(size(split(col('Name')," "))).show()

In [134]:
df = spark.createDataFrame([(1, 'Karthikeyan Rasipalayam Durairaj Sakunthalla Navaneethan Nalini', 1.79, 28,'M', 'Tiler')
                            ]
                           , ['id', 'Name', 'Height', 'Age', 'Gender', 'Occupation'])

from pyspark.sql.functions import array_contains
from pyspark.sql.functions import split,col
df.select(array_contains(split(col('name'),' '),'Amma')).show()

In [135]:
from pyspark.sql.functions import array_contains
from pyspark.sql.functions import split,col
df = spark.createDataFrame([(1, 'Karthikeyan Rasipalayam Durairaj Sakunthalla Navaneethan Nalini', 1.79, 28,'M', 'Tiler')
                            ]
                           , ['id', 'Name', 'Height', 'Age', 'Gender', 'Occupation'])

df.select(array_contains(split(col('name'),' '),'Amma')).show()

In [136]:
from pyspark.sql.functions import split,explode
from pyspark.sql.functions import split
df.withColumn("splitted",split(col("Name")," "))\
  .withColumn("explode",explode(col("splitted")))\
  .select('splitted','explode').show()