In [1]:
# Dataframe without Schema
from pyspark import SQLContext
from pyspark import HiveContext
temp_list = [('Karthikeyan',37),('Navaneethan',41),('Nalini',46)]
df = spark.createDataFrame(temp_list)
df.collect()

In [2]:
# Dataframe with Schema
from pyspark import SQLContext
from pyspark import HiveContext
temp_list = [('karthikeyan',37),('navaneethan',40),('nalini',35)]
df = spark.createDataFrame(temp_list,['name','age'])
df.collect()
df.select('name').collect()

In [3]:
# Dataframe with Schema based on the RDD
from pyspark import SQLContext
from pyspark import HiveContext
tmp_list = [('Karthikeyan',37),('navaneethan',45),('nalini',45)]
rdd = sc.parallelize(tmp_list)
df = spark.createDataFrame(rdd)
df.printSchema()
df.select('_1').collect()

In [4]:
# Dataframe with Schema based on the RDD with Schema
from pyspark import SQLContext
from pyspark import HiveContext
tmp_list = [('karthikeyan',37),('nalini',46)]
schema_list = ['name','age']
rdd = sc.parallelize(tmp_list)
df = spark.createDataFrame(rdd,schema_list)
df.show()

In [5]:
# Dataframe with Struct Based on the Struct
from pyspark import SQLContext
from pyspark import HiveContext
from pyspark.sql.types import *
temp_list = [('karthikeyan',35),('navaneethan',45)]
rdd = sc.parallelize(temp_list)
schema = StructType([
                   StructField('name',StringType()),
                   StructField('age',StringType())
])
df =spark.createDataFrame(rdd,schema)
df.show()

In [6]:
# Dataframe select with aggrigation 
from pyspark import HiveContext
from pyspark import SQLContext
from pyspark.sql.types import*
tmp_list = [('karthikeyan',37),('navaneethan',45)]
rdd = sc.parallelize(tmp_list)
schema = StructType([
                    StructField('name',StringType()),
                    StructField('age',StringType())
])
df = spark.createDataFrame(rdd,schema)
df.agg({
  'age':'max'
}).show()

In [7]:
# Dataframe select with aggrigation sum 
from pyspark import SQLContext
from pyspark import HiveContext
tmp_list = [('karthikeyan',20),('nalini',45)]
rdd = sc.parallelize(tmp_list)
schema = StructType([
                    StructField('name',StringType()),
                    StructField('age',StringType())
])
df = spark.createDataFrame(rdd,schema)
df.agg({'age':'sum'}).collect()

In [8]:
df.agg({'age':'avg'}).collect()

In [9]:
df.agg({'age':'min'}).collect()

In [10]:
from pyspark import HiveContext
from pyspark import SQLContext 
from pyspark.sql import functions as F
from pyspark.sql.types import *
tmp_list = [('karthikeyan',27)]
rdd = sc.parallelize(tmp_list)
shchema = StructType([
                     StructField('name',StringType()),
                     StructField('age',StringType())
])
df = spark.createDataFrame(rdd,shchema)
min_val = df.agg(F.min('age'))
min_val.collect()

In [11]:
from pyspark import SQLContext
from pyspark import HiveContext
from pyspark.sql.types import *
from pyspark.sql.functions import *
tmp_emp = [(100,'karthikeyan'),(200,'navaneethan'),(300,'nalini')]
tmp_dep = [(100,'ece'),(200,'chemical')]
df_emp =spark.createDataFrame(tmp_emp,['depid','name'])
df_dep =spark.createDataFrame(tmp_dep,['depid','dep_name'])
df_join = df_emp.join(df_dep,'depid','inner')
df_join.show()

In [12]:
df_jon1 = df_emp.alias('emp').join(df_dep.alias('dep'),'depid','inner')
df_jon1.show()

In [13]:
from pyspark import SQLContext
from pyspark import HiveContext
from pyspark.sql.functions import *
tmp_list = [('karthikeyan',34)]
rdd = sc.parallelize(tmp_list)
rdd.collect()
df = spark.createDataFrame(rdd,['name','age'])

In [14]:
df.getNumPartitions()

In [15]:
rdd1= df.rdd.getNumPartitions()

In [16]:
df.coalesce(2).rdd.getNumPartitions()

In [17]:
Folloing API Need learn:
corr
colRegex(colName)[source]
approxQuantile(col, probabilities, relativeError)

In [18]:
df.collect()

In [19]:
from pyspark import HiveContext
from pyspark import SQLContext
tmp_list = [('karthikeyan',34)]
df=spark.createDataFrame(tmp_list,['name','age'])
df.columns

In [20]:
# Dataframe Cross Joins
from pyspark import HiveContext
from pyspark import SQLContext
tmp_emp = [(100,'karthikeyan',10),(200,'navaneethan',20),(300,'nalini',20)]
tmp_dep = [(100,'it'),(200,'ece'),(300,'eee')]
rdd1 = sc.parallelize(tmp_emp)
rdd2 = sc.parallelize(tmp_dep)
df_emp = spark.createDataFrame(rdd1,['empid','name','depid'])
df_dep = spark.createDataFrame(rdd2,['depid','depname'])
df = df_emp.crossJoin(df_dep)

In [21]:
df_emp.show()

In [22]:
df_dep.show()

In [23]:
df.show()

In [24]:
df.printSchema()

In [25]:
df.crosstab('empid','name').show()

In [26]:
# Dataframe Cube
from pyspark import SQLContext
from pyspark import HiveContext
emp_lst = [('karthikeyan',45),('nalini',67),('navaneethan',69)]
rdd = sc.parallelize(emp_lst)
df = spark.createDataFrame(rdd,['name','age'])
df.cube('name',df.age).count().show()

In [27]:
df.show()

In [28]:
df.describe(['age','name']).show()

In [29]:
df.distinct().collect()

In [30]:
from pyspark import HiveContext
from pyspark import SQLContext
emp_list = [('karthikeyan',34,100000),('navaneethan',45,30000),('nalini',56,6777)]
rdd = sc.parallelize(emp_list)
df = spark.createDataFrame(rdd,['name','age','salary'])
df.drop('age').show()

In [31]:
from pyspark import HiveContext
from pyspark import SQLContext
emp_list = [('karthikeyan',10),('nalini',20),('navaneethan',10)]
dep_list = [(10,'it'),(20,'ece')]
rdd_emp = sc.parallelize(emp_list)
rdd_dep = sc.parallelize(dep_list)
df_emp = spark.createDataFrame(rdd_emp,['name','depid'])
df_dep = spark.createDataFrame(rdd_dep,['depid','depname'])
df_join = df_emp.join(df_dep,'depid','inner')
df_join.drop('name').show()

In [32]:
df.drop('age').collect()

In [33]:
df.drop(df.age).collect()

In [34]:
from pyspark import SQLContext
from pyspark import HiveContext
emp_list = [('karthikeyan',37,'coimbatore'),
            ('karthikeyan',37,'coimbatore'),
            ('karthikeyan',45,'coimbatore')
           ]
rdd = sc.parallelize(emp_list)
df = spark.createDataFrame(rdd,['name','age','location'])
df1 =df.dropDuplicates()
df1.show()

In [35]:
df.dropDuplicates(['age']).collect()

In [36]:
df.drop_duplicates().collect()

In [37]:
df.drop_duplicates().collect()

In [38]:
from pyspark import SQLContext
from pyspark import HiveContext
df = spark.createDataFrame([(1, 'Karthikeyan', 1.79, 28,'M', 'Tiler'),
                            (2, 'Navaneethan', 1.78, 45,'M', None),
                            (3, 'Nalini', 1.75, None, None, None),
                            (4, 'Prakash',1.6, 33,'F', 'Dancer'),
                            (5, 'Gregory', 1.8, 54,'M', 'Teacher'),
                            (6, 'Steven', 1.82, None, 'M', None),
                            (7, 'Dagmar', 1.7, 42,'F', 'Nurse'),]
                           , ['id', 'Name', 'Height', 'Age', 'Gender', 'Occupation'])
df.show()
df1 = df.dropna(thresh=2,subset=('Age','Gender'))

In [39]:
df1.show()

In [40]:
from pyspark import HiveContext
from pyspark import SQLContext
emp_list = [('karthikeyan',45),('navaneethan',45)]
rdd = sc.parallelize(emp_list)
df = spark.createDataFrame(rdd,['name','age'])
df.dtypes

In [41]:
''' SQL EXCEPT operator takes the distinct rows of one query and returns the rows that do not appear in a second result set. The EXCEPT ALL operator does not remove duplicates. For purposes of row elimination and duplicate removal, the EXCEPT operator does not distinguish between NULLs'''
from pyspark import SQLContext
from pyspark import HiveContext
from pyspark.sql.types import *
emp_list =[('karthikeyan',37),('navaneethan',45),('nalini',56)]
rdd_emp = sc.parallelize(emp_list)
schema = StructType([
                    StructField('name',StringType()),
                    StructField('age',StringType())
])
df_emp =spark.createDataFrame(rdd_emp,schema)
df_emp1 = spark.createDataFrame([('karthikeyan',32),('navaneethan',45),('nalini',56)],['name','age'])
diff = df_emp.exceptAll(df_emp1)
diff.show()
#If both df are identical giving the 0 result

In [42]:
df.explain()

In [43]:
from pyspark import HiveContext
from pyspark import SQLContext
from pyspark.sql.types import *
emp_list =[('karthikeyan',34,''),('navaneethan',45,'')]
schema=StructType([StructField('name',StringType()),
                   StructField('age',StringType()),
                   StructField('height',StringType())])

df =spark.createDataFrame(emp_list,schema)
df_fill = df.fillna('null',subset=('height'))
df_fill.show()

In [44]:
from pyspark import SQLContext
from pyspark import HiveContext
from pyspark.sql import functions as F
df_filter = df.filter(F.col('age')==45)
df_filter.show()

In [45]:
df.first()

In [48]:
from pyspark import SQLContext
from pyspark import HiveContext 
emp_list =[('karthikeyan',45),('nalini',45),('amma',56),('prakash',67)]
df=spark.createDataFrame(emp_list,['name','age'])
df.groupby().avg().collect()

In [49]:
'''
If your data is sorted using either sort() or ORDER BY, these operations will be deterministic and return either the 1st element using first()/head() or the top-n using head(n)/take(n).

show()/show(n) return Unit (void) and will print up to the first 20 rows in a tabular form.

These operations may require a shuffle if there are any aggregations, joins, or sorts in the underlying query.

Unsorted Data

If the data is not sorted, these operations are not guaranteed to return the 1st or top-n elements - and a shuffle may not be required.

show()/show(n) return Unit (void) and will print up to 20 rows in a tabular form and in no particular order.

If no shuffle is required (no aggregations, joins, or sorts), these operations will be optimized to inspect enough partitions to satisfy the operation - likely a much smaller subset of the overall partitions of the dataset
'''
from pyspark import SQLContext
from pyspark import HiveContext
emp_list=[('karthikeyan',56),('nalini',89),('navaneethan',90)]
df = spark.createDataFrame(emp_list,['name','age'])
df.head(3)

In [50]:
from pyspark import SQLContext
from pyspark import HiveContext
emp_list = [('karthikeyan',45),('navaneethan',45),('nalini',60)]
dep_list = [(45,'it'),(55,'ece')]
df_emp = spark.createDataFrame(emp_list,['name','depid'])
df_dep = spark.createDataFrame(dep_list,['depid','depname'])
df_join = df_emp.join(df_dep.hint('broadcast'),'depid','inner')
df_join.show()

In [51]:
from pyspark import SQLContext
from pyspark import HiveContext 
a = [10,20,30,40]
b = [10,50,60,20]
rdd_a = sc.parallelize(a)
rdd_b = sc.parallelize(b)
df1 = rdd_a.map(lambda x: (x, )).toDF()
df2 = rdd_b.map(lambda x: (x, )).toDF()
df1.show()
df2.show()
df1.intersect(df2).show()

In [52]:
from pyspark import SQLContext
from pyspark import HiveContext
emp_lst = [('karthikeyan',34,1000),('navaneethan',45,5000),('nalini',45,6000),('prakash',34,5000)]
emp_lst1 = [('karthikeyan','RI')]
schema1 = ['name','age','sal']
schema2 = ['name','st']
df =spark.createDataFrame(emp_lst,schema1)
df1 = spark.createDataFrame(emp_lst1,schema2)
df_join = df.join(df1,df.name == df1.name,'full_outer').show()

In [53]:
 df=[('karthikeyan',34,1000),
  ('navaneethan',45,5000),
  ('nalini',45,6000),
  ('prakash',34,5000)]
  df1=[('karthikeyan','RI')]
  
Inner Join:
  
  +-----------+---+----+-----------+---+
|       name|age| sal|       name| st|
+-----------+---+----+-----------+---+
|karthikeyan| 34|1000|karthikeyan| RI|
+-----------+---+----+-----------+---+

Outer Join: 
+-----------+---+----+-----------+----+
|       name|age| sal|       name|  st|
+-----------+---+----+-----------+----+
|karthikeyan| 34|1000|karthikeyan|  RI|
|     nalini| 45|6000|       null|null|
|    prakash| 34|5000|       null|null|
|navaneethan| 45|5000|       null|null|
+-----------+---+----+-----------+----+

In [55]:
# Create DF without inferSchema()
from pyspark import SQLContext
from pyspark import HiveContext
tmp_list_schema = [('A',1),('B',2)]
df = spark.createDataFrame(tmp_list_schema,['id','no'])
df.collect()

In [56]:
# Create DF with inferSchema();{}
from pyspark import SQLContext
from pyspark import HiveContext
tmp_list_schema = [{'id':'A','no':1}]
df=spark.createDataFrame(tmp_list_schema)
df.collect()

In [57]:
# Create DF Row Oject Parallelize
from pyspark import SQLContext
from pyspark import HiveContext 
from pyspark.sql import Row
tmp_list_noschema=[('A',1),('B',2)]
tmp_schme = Row('id','no')
rdd = sc.parallelize(tmp_list_noschema)
rdd1 = rdd.map(lambda x : tmp_schme(x))
df = spark.createDataFrame(rdd1)
df.collect()

In [58]:
# Create DF by using Panda 
import pandas as pd 
pa_df = pd.DataFrame([['A',100],['B',200]])
df = spark.createDataFrame(pa_df)
df.collect()

In [59]:
# Register Dataframe as temp view: createOrReplaceTempView
import pandas as pd
pa_df = pd.DataFrame([['A',10],['B',20]])
df =spark.createDataFrame(pa_df)
df.createOrReplaceTempView('testtab')
spark.sql('select * from testtab').show()

In [60]:
# Register Dataframe as temp view: createtemptable
import pandas as pd 
pd_df = pd.DataFrame([['A',10],['B',20]])
df = spark.createDataFrame(pd_df)
df.createOrReplaceTempView('testview')
spark.sql('select * from testview').show()

In [61]:
# Register Dataframe as temp view: registerdataframeas table
from pyspark import SQLContext
sc =SQLContext(sc)
import pandas as pd
df_pd = pd.DataFrame([['A',10],['B',30]])
df = spark.createDataFrame(df_pd)
sc.registerDataFrameAsTable(df,'test')
spark.sql('select * from test').show()

In [62]:
# Register Dataframe UDF
from pyspark import SQLContext
from pyspark import HiveContext
from pyspark.sql.types import IntegerType
sc = SQLContext(sc)
def strlen(x):
    return len(x)
sc.udf.register('strlen',strlen,IntegerType())
sc.registerDataFrameAsTable(df,'testtab')
spark.sql("select strlen('karthikeyan')").show()

In [63]:
# Register with UDF
from pyspark import SQLContext
from pyspark import HiveContext
from pyspark.sql.types import IntegerType
def strlen(x):
    return len(x)
sc= SQLContext(sc)
spark.udf.register('strlen',strlen,IntegerType())
spark.sql("select strlen('karthikeyan')").show()

In [64]:
from pyspark import SQLContext
from pyspark import HiveContext
import pandas as pd 
pd_df = pd.DataFrame([['a',10],['b',20],['c',40],['d',50]])
df = spark.createDataFrame(pd_df,['ID','NO'])
df.show()
df.groupBy().avg().show()

In [65]:
df.groupBy("ID").pivot("ID").sum("NO").show()

In [66]:
df.groupBy("ID").pivot("ID").sum("NO").show()

In [67]:
df.groupBy('ID').pivot('ID').sum('NO').show()

In [68]:
from pyspark import SQLContext
from pyspark import HiveContext
from pyspark.sql.types import *
import pyspark.sql.functions as F
data = [('Karthikeyan',100),('Navaneethan',200)]
rdd = sc.parallelize(data)
df = spark.createDataFrame(rdd)
df.withColumn('new',F.lit('Test')).show()
df.show()

In [69]:
from pyspark import SQLContext
from pyspark import HiveContext
a = [('a',1),('b',2),('c',3)]
b = [('rd',1),('rn',3)]
df1 = spark.createDataFrame(a,['id','no'])
df2 = spark.createDataFrame(b,['id','no'])
df1.crossJoin(df2).show()

In [70]:
from pyspark import SQLContext
from pyspark import HiveContext
data = [('karthikeyan',10),('navaneethan',30)]
df = spark.createDataFrame(data,['name','age'])
df.persist()
df.show()

In [71]:
from pyspark import SQLContext
from pyspark import HiveContext
from pyspark.sql.functions import *
from pyspark.sql.window import Window

data = [("Ali", 0, [100]),
    ("Barbara", 1, [300, 250, 100]),
    ("Cesar", 1, [350, 100]),
    ("Dongmei", 1, [400, 100]),
    ("Eli", 2, [250]),
    ("Florita", 2, [500, 300, 100]),
    ("Gatimu", 3, [300, 100])]
df = spark.createDataFrame(data,['name','department','score'])
df.show()
df1 = df.withColumn('score1',explode(col('score'))).show()
window = Window.partitionBy(col('department')).orderBy(col('score1'))
#df2 = df1.withColumn('rank1', dense_rank().over(window))

In [72]:
from pyspark.sql import Row
df1 = spark.createDataFrame([
           Row(id=1, value='foo'),
           Row(id=2, value=None)])
df1.select(
df1['value'] == 'foo',
df1['value'].eqNullSafe('foo'),
df1['value'].eqNullSafe(None)).show()

In [73]:
df2 = spark.createDataFrame([
Row(id=1, value=float('NaN')),
Row(id=2, value=42.0),
Row(id=3, value=None)
])

In [74]:
df2.select(
 df2['value'].eqNullSafe(None),
 df2['value'].eqNullSafe(float('NaN')),
 df2['value'].eqNullSafe(42.0)
).show()

In [75]:
df1.join(df2, df1["value"].eqNullSafe(df2["value"])).show()

In [76]:
df1.printSchema()

In [77]:
df1.withColumn('id1',col('id'))
df1.drop(col('id'))
df1.show()