In [1]:
from pyspark import SQLContext
from pyspark import HiveContext
list_A = [{'name':'Karthikeyan','id':10},{'name':'Navaneethan','id':20}]
list_B = [{'id':10,'add1':'DE'},{'id':30,'add1':'NJ'},{'id':40,'add1':'NY'}]
df_A = spark.createDataFrame(list_A)
df_B = spark.createDataFrame(list_B)
df_A.show()
df_B.show()

In [2]:
df_A.crossJoin(df_B).show()
df_B.crossJoin(df_A).show()

In [3]:
#inner ,outer 
df_A.join(df_B,df_A.id == df_B.id,'inner').show()
df_A.join(df_B,df_A.id == df_B.id,'outer').show()
df_A.join(df_B,df_A.id == df_B.id,'full').show()
df_A.join(df_B,df_A.id == df_B.id,'left').show()
df_A.join(df_B,df_A.id == df_B.id,'left_outer').show()
df_A.join(df_B,df_A.id == df_B.id,'right').show()
df_A.join(df_B,df_A.id == df_B.id,'left_semi').show()
df_A.join(df_B,df_A.id == df_B.id,'left_anti').show()

In [4]:
#hint
df_A.join(df_B,df_A.id == df_B.id,'inner').explain()

In [5]:
df_A.join(df_B.hint('broadcast'),'id').explain()

In [6]:
#repartition
df_res = df_A.crossJoin(df_B.select("add1")).select("ID","name","add1")
df_res.show()
df_res.repartition(2,"add1").show()
df_res.repartition("add1").show()

In [7]:
#cross tab
df_A.crosstab('id','name').show()

In [8]:
# 3 Dimension 
from pyspark import SQLContext
from pyspark import HiveContext
list_A = [{'name':'Karthikeyan','id':10,'age':34},{'name':'Navaneethan','id':20,'age':45}]
df_A =spark.createDataFrame(list_A)
df_A.show()
df_A.crosstab('age','id').show()
df_A.crosstab('id','age').show()

In [9]:
df_A.show()
df_A.cube('id','name').count().show()

In [10]:
df_A.rollup("ID","name").count().show()

In [11]:
tmp_list = [('A',10),('B',20)]
df = spark.createDataFrame(tmp_list)
df.storageLevel

In [12]:
df.cache().storageLevel

In [13]:
from pyspark.storagelevel import StorageLevel 

df.persist(StorageLevel.DISK_ONLY_2).storageLevel

In [14]:
df.persist(StorageLevel.MEMORY_ONLY).storageLevel